/* _gameplay.scss */

#gameplay {
	progress {
		display: none;
		height: 24px;
		margin: 0 8px 12px;
    	width: calc(100% - 16px);

    	&.active {
    		display: block;
    	}
	}

	.nes-container.wrong {
		animation: shake 0.1s ease 0s 2 forwards;
	}

	@keyframes shake {
		0% { transform: translateX(0); }
		25% { transform: translateX(-4px); }
		75% { transform: translateX(4px); }
		100% { transform: translateX(0); }
	}

	#equation {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	
	.digit {
		font-size: 1.5rem;
	}

	.symbol {
		font-size: 1.5rem;
		margin: 0 0.5rem;
	}

	#answers {
		display: flex;
		margin-top: 8px;
		padding: 0 4px;

		label {
			flex-grow: 1;
			position: relative;
			width: 33.33%;

			input {
				position: absolute;
			}
		}

		span {
			color: $color-black;

			&::before {
				left: 20%;
				top: 50px;
				transform: rotate(-90deg) translateX(-50%);
			}
		}
	}
}