/* _gameplay.scss */

#gameplay {
	progress {
		display: none;
		height: 24px;
    	width: calc(100% - 16px);

    	&.active {
    		display: block;
    	}
	}

	#equation {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	
	.digit {
		font-size: 1.5rem;
	}

	.symbol {
		font-size: 1.5rem;
		margin: 0 0.5rem;
	}

	#answers {
		display: flex;
		margin-top: 8px;
		padding: 0 4px;

		label {
			flex-grow: 1;
			position: relative;

			input {
				position: absolute;
			}
		}

		span {
			color: $color-black;

			&::before {
				left: 20%;
				top: 50px;
				transform: rotate(-90deg) translateX(-50%);
			}
		}
	}
}