/* _title.scss */

#title {
	text-align: center;

	nav {
		align-items: center;
		display: flex;
		flex-direction: column;

		label {
			margin-bottom: 1rem;
		}
	}

	#keys {
		font-size: 0.75rem;
		margin-top: 1rem;

		.nes-badge {
			margin-right: 2.5em;
			width: 2em;
			vertical-align: -12px;

			.is-dark {
				background-color: white;
				box-shadow: 0 0.5em white,
							0 -0.5em white,
							0.5em 0 white,
							-0.5em 0 white;
				color: #212529;
			}
		}
	}
}